page-home {
    ion-content {
        background-color: $purple-bkd !important;
    }
    ion-card {
        position: relative;
        width: 145px !important;
        height: 240px !important;
        ion-card-content {
            ion-card-title {
                padding-top: 0 !important;
                font-size: 1.3rem !important;
            }
            p {
                font-size: 1.1rem !important;
            }
        }
        .price {
            border-top: .5px solid map-get($colors, line) !important;
            width: calc(100% - 20px);
            font-weight: 700;
            position: absolute;
            bottom: 0;
            color: $light-grren;
            margin: 0 10px;
        }
        .overlap {
            position: absolute;
            top: 15px;
            left: 15px;
            height: 85px;
            width: 115px;
        }
        img {
            &:not(.overlap){
                height: 120px;
            }
        }
    }
    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
		ion-card {
            margin: 10px auto !important;
        }
	}
}
